{% extends 'base_generic.html' %} 
{% load i18n %}
{% load static %}

{% block header %}
<h4 class="page-section-heading text-center text-uppercase text-secondary mb-0">
    {% trans 'UML: ' %}{% trans diagram_name %}
</h4>
{% endblock %}

{% block content %} 
<div class="container">
    <p>{% trans diagram_description %}</p>

    <h3>{{challenge_question}}</h3>
    <img src="{{challenge_image.url}}" style="padding-top: 30px; padding-bottom: 40px; margin: 10px auto 10px; display: block;">
    <form action="/response/" method="GET" style="text-align: center;">
        <div style="padding-top: 10px; padding-bottom: 10px; padding-left: 37%;">
            <input type="text" name="keyword" id="" class="form-control" style="width: 40%; text-align: center;">
            <input id="challenge_id" name="challenge" type="hidden" value={{challenge_id}}>
            <input id="game_id" name="game_id" type="hidden" value={{game_id}}>
            <input id="last_challenge" name="last_challenge_id" type="hidden" value={{last_challenge_id}}>
        </div>
        <input type="submit" value="{% trans 'send' %}" class="btn btn-primary btn-xl">
    </form>
</div>
{% endblock %}