{% extends 'base_generic.html' %} 
{% load i18n %}

{% block header %}
<h4 class="page-section-heading text-center text-uppercase text-secondary mb-0">
    {% trans 'CREATE GAME' %}
</h4>
{% endblock %}

{% block content %} 
    <section class="page-section portfolio" id="portfolio">

        <h2> Hello, {{ user_name | default:'Guest' }}! </h2>
        <h2> {% trans 'Add Gamnes' %}</h2>
        <div id="content-main"> 
            <form action="/upload_game/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">
                    <label for="game_title">{% trans 'Game Title' %}</label>
                    <input type="text" class="form-control" id="game_title" name="title" placeholder=" {% trans 'Enter Game Name' %}">
                </div>
                <div class="form-group">
                    <label for="game_challenses">{% trans 'Choose one or more challenge for your games.' %}</label>
                        <select multiple class="form-control" id="game_challenges" name="challenges">
                            {% for challenge in challenges %}
                                <option value="{{ challenge.id }}">{{ challenge.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
               </div>
               <input type="submit" value="{% trans 'upload game' %}" class="btn btn-primary btn-xl">
            </form>
        </div>

{% endblock %}