<html>
    <head>
        <title> Challenge Class Diagram </title>
        {% load static %}

        <body>
            <h2>UML: Structural diagrams </h2>

            <p> 
                The class diagram s a type of static structure diagram that describes 
                the structure of a system by showing the system's classes, their attributes, 
                operations (or methods), and the relationships among objects.
            </p>
            <!--TODO: qexplicar aqui alomejor lo de las cajs simbolos etc .. -->

            <h3> In which of the following classes on the diagram would superman belong? </h3>

            <img src="{% static 'media/game_3.svg' %}"> 

            <form action="/response-3/" method="GET">
                <input type="text" name="keyword" id="">
                <input type="submit" value="send">
            </form>
        </body>
    </head>
</html>