<html>
    <head>
        <title> Challenge Flowchart Diagram </title>
        {% load static %}

        <body>
            <h2>UML: Activity diagrams </h2>
            <p> 
                The flowchart shows the steps as boxes of various kinds, 
                and their order by connecting the boxes with arrows. This 
                diagrammatic representation illustrates a solution model 
                to a given problem. 
            </p>
            <!--TODO: qexplicar aqui alomejor lo de las cajs simbolos etc .. -->

            <h3> Resolve the next flowchart diagram to find the keyword  </h3>
            
            <img src="{% static 'media/game_1.svg' %}"> 

            <form action="/response-1/" method="GET">
                <input type="text" name="keyword" id="">
                <input type="submit" value="send">
            </form>
        </body>
    </head>
</html>