<html>
    <head>
        <title> Challenge Flowchart Diagram </title>

        <body>
            <h3> Resuelve este diagrama de flujo para halla la palabra clave </h3>
            
            <img src="media/game_1.svg"> 
            # "GET /question-1/media/game_1.svg HTTP/1.1" 404 2896 TODO
            
            <form action="/response-1/" method="GET">
                <input type="text" name="keyword" id="">

                <input type="submit" value="send">
            </form>
        </body>
    </head>
</html>