{% extends 'base_generic.html' %} 
{% load i18n %}
{% load static %}

{% block header %}
<div class="container d-flex align-items-center flex-column">
    <h1 class="masthead-heading text-uppercase mb-0">Gymkhana App</h1>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <form action="/start/" method="GET">
            <input type="submit" value="{% trans 'START!' %}" class="btn btn-xl btn-outline-light">
        </form>
        <div class="divider-custom-line"></div>
    </div>
    <p class="masthead-subheading font-weight-light mb-0">{% trans 'Have fun, train and learn about Unified Modeling Language' %}</p>
</div>
{% endblock %}

{% block content %}
<ul>
    <section class="page-section portfolio" id="portfolio" style="margin: 0 auto;">
        <div class="container" style="text-align: center;">
            <h2> {% trans 'You can login for more features!' %} </h2> 
            <p> </p>
            <form action="/accounts/login/" method="GET">
                <input type="submit" value="Click here" class="btn btn-xl btn-outline-dark" />
            </form>
        </div>
    </section>
</ul>
{% endblock %}