<html>
    <head>
        <title> Start </title>

        <body>
            <h2> Init the gymkhana app... </h2>

            <form action="/game-1/" method="GET">
                <input type="submit" value="First Game">
            </form>

            <form action="/game-2/" method="GET">
                <input type="submit" value="Second Game">
            </form>

            <form action="/game-3/" method="GET">
                <input type="submit" value="Third Game">
            </form>

        </body>
    </head>
</html>