{% extends 'base_generic.html' %} 
{% load i18n %}
{% load static %}

{% block header %}
<h4 class="page-section-heading text-center text-uppercase text-secondary mb-0">
    {% trans 'Init the gymkhana app...' %}
</h4>
{% endblock %}

{% block content %} 
<p>
    <ul>
        {% if games_list %}
            {% for game in games_list %}
                <section class="page-section portfolio" id="portfolio" style="margin: 0 auto;">
                    <div class="divider-custom" style="margin: 0 auto;">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>

                    <div style="text-align: center; align-items: center; margin: 0 auto;">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1" style="margin: 0;"></div>
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-play fa-3x"></i></div>
                        <h4 class="mb-5" text-align="center" >{% trans game.title %}</h4>
                        <form action="/challenge/" method="GET">
                            <input type="image" class="img-fluid" src="{% static 'assets/img/portfolio/game.png' %}" alt="" width="300" height="300">
                            <input name="game_id" type="hidden" value={{game.id}}>
                            <input name="last_challenge" type="hidden" value="0">
                        </form>
                    </div>
                </section>
            {% endfor %}
        {% else %}
            <section class="page-section portfolio" id="portfolio" >
                <div class="container" style="text-align: center;">
                    <h2> {% trans 'NO GAMES TO PLAY :(' %} </h2> 
                </div>
            </section>
        {% endif %}
    </ul>
<p>
{% endblock %}