{% extends 'base_generic.html' %} 
{% load i18n %}
{% load static %}

{% block header %}
<h4 class="page-section-heading text-center text-uppercase text-secondary mb-0">
    {% trans 'CONGRATS, CORRECT ANSWER !!' %}
</h4>
{% endblock %}

{% block content %}
{% if is_last_challenge %}
    <section class="page-section portfolio" id="portfolio" >
        <div class="container" style="text-align: center;">
            <h2> {% trans 'You`ve finished this gymkhana. Let`s go for more games :)' %} </h2> 
            <form action="/start/" method="GET">
                <input type="submit" value="{% trans 'Return to gymkhana app' %}" class="btn btn-primary btn-xl">
            </form>
        </div>
    </section>
{% else %}
    <section class="page-section portfolio" id="portfolio" >
        <div class="container" style="text-align: center;">
            <h2> {% trans 'Let`s go for the next challenge. :)' %} </h2> 
            <form action="/challenge/" method="GET">
                <input type="submit" value="{% trans 'Next Challenge' %}" class="btn btn-primary btn-xl">
                <input name="game_id" type="hidden" value={{game_id}}>
                <input name="last_challenge" type="hidden" value={{challenge_id}}>
            </form>
        </div>
    </section>
{% endif %}

{% endblock %}