{% extends 'base_generic.html' %} 
{% load i18n %}
{% load static %}

{% block header %}
<h4 class="page-section-heading text-center text-uppercase text-secondary mb-0">
    {% trans 'WRONG ANSWER' %}
</h4>
{% endblock %}

{% block content %}
<section class="page-section portfolio" id="portfolio" >
    <div class="container" style="text-align: center;">
        <h2> {% trans 'Sorry, but you can always try again. :)' %} </h2> 
        <form action="/challenge/" method="GET">
            <input type="submit" value="{% trans 'Return to the challenge' %}" class="btn btn-primary btn-xl">
            <input name="game_id" type="hidden" value={{game_id}}>
            <input name="last_challenge" type="hidden" value={{last_challenge}}>
        </form>
        <h2> {% trans 'or' %} </h2> 
        <form action="/start/" method="GET">
            <input type="submit" value="{% trans 'Return to gymkhana app' %}" class="btn btn-primary btn-xl">
        </form>
    </div>
</section>
{% endblock %}